@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	transition: 0.3s;
	scroll-behavior: smooth !important;
}

.hollow {
	color: transparent;
	-webkit-text-stroke: 2px #177e89;
	-webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 640px) {
	.hollow {
		
		-webkit-text-stroke: 1px #177e89;
		-webkit-font-smoothing: antialiased;
	}
}

.blurred {
	-webkit-backdrop-filter: blur(220px);
	filter: blur(220px);
}

.hideScrollBar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.hideScrollBar::-webkit-scrollbar {
	display: none;
}
